@import '@/assets/scss/variables.scss';

.btn {
  &__big {
    outline: none;
    max-width: 338px;
    border-radius: 0 !important;
    font-style: normal;
    font-weight: normal;
    padding: 20px 50px;
    margin: 0 auto;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__title {
    outline: none;
    border-radius: 0 !important;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    min-width: 188px;
    padding: 20px 0;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__min {
    font-family: 'Raleway', sans-serif;
    border-radius: 0 !important;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    max-width: 85px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
  }
  &__title_color_orangew {
    outline: none;
    border: 2px solid $color-orange;
    color: $color-white;
    background-color: $color-orange;
    &:focus,
    &:hover {
      border-radius: 0 !important;
      background: $color-dark-orange;
      border: $color-dark-orange solid 2px;
    }
  }
  &__title_color_orangeb {
    outline: none;
    border: 2px solid $color-orange;
    color: $color-dark-gray;
    background-color: $color-orange;
    &:focus,
    &:hover {
      outline: none;
      border-radius: 0 !important;
      background: $color-dark-orange;
      border: $color-dark-orange solid 2px;
    }
  }
  &__title_color_transp-orange {
    border: 2px solid $color-orange;
    color: $color-black;
    background-color: transparent;
    cursor: pointer;
    &:focus,
    &:hover {
      border-radius: 0 !important;
      border: $color-dark-orange solid 2px;
    }
  }
  //--------
  &__title_color_blue {
    border: 2px solid $color-blue;
    color: $color-white;
    background-color: $color-blue;
    cursor: pointer;
    &:focus,
    &:hover {
      border-radius: 0 !important;
      background-color: $color-dark-blue;
      border: $color-dark-blue solid 2px;
    }
  }
  &__title_color_transp-blue {
    border: 2px solid $color-blue;
    color: $color-black;
    background-color: transparent;
    cursor: pointer;
    &:focus,
    &:hover {
      border-radius: 0 !important;
      border: $color-dark-blue solid 2px;
    }
  }
}
.btn-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 396px;
  &__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 84px;
  }
  &__modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.marg20 {
  margin-left: 20px;
}
