@import '@/assets/scss/variables.scss';

.attainment {
  display: block;
  padding-top: 60px;
  padding-bottom: 47px;
  background-color: $color-blue;
  &__heading-block {
    margin-bottom: 50px;
  }
  &__heading {
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    text-align: center;
    margin-bottom: 45px;
  }
  &__heading_color_white {
    color: $color-white;
  }
  &__heading_color_gray {
    color: $color-dark-gray;
  }
  &__heading_color_blue {
    color: $color-blue;
  }
  &__register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $color-white;
  }
  &__blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $color-dark-gray;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
  }
  &__block {
    width: 189px;
  }
  &__btn {
    margin: 0 auto;
  }
  &__block:nth-child(2) {
    margin-left: 124px;
    margin-right: 124px;
  }
  &__img-block {
    display: flex;
    justify-content: center;
    height: 165px;
  }
}
