@import '@/assets/scss/variables.scss';

.about-service {
  // display: block;
  background-color: $color-dark-gray;
  padding-top: 60px;
  padding-bottom: 65px;
  &__block-title {
    display: block;
    margin: auto 0;
  }
  &__heading {
    font-style: normal;
    font-weight: 600;
    line-height: 47px;
    text-align: center;
    color: $color-white;
    margin-bottom: 60px;
  }
}

.about-service__text-reg {
  display: block;
  position: absolute;
  top: 30px;
  max-width: 387px;
  z-index: 2;
  padding: 18px;
  background-color: $color-orange;
  color: $color-white;
  //
}
.about-service__bg-img:nth-child(2n) > .about-service__text-reg {
  right: 0;
}
.about-service__text-reg-heading {
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.about-service__text-reg-body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
}
.about-service__bg-img {
  display: block;
  position: relative;
  width: 606px;
  height: 195px;
  margin: 0 auto;
}
.about-service__block-title > div:nth-of-type(1) {
  background-image: url('~@/assets/img/nout.png');
  background-size: 293px 195px;
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
.about-service__block-title > div:nth-of-type(2) {
  text-align: right;
  background-image: url('~@/assets/img/coatch.png');
  background-size: 293px 195px;
  background-position: top left;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
.about-service__block-title > div:nth-of-type(3) {
  background-image: url('~@/assets/img/type.png');
  background-size: 293px 195px;
  background-position: top right;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
.about-service__block-title > div:nth-of-type(4) {
  text-align: right;
  background-image: url('~@/assets/img/training.png');
  background-size: 293px 195px;
  background-position: top left;
  background-repeat: no-repeat;
}
