@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../assets/scss/variables.scss';

.left-sidebar {
  //overflow: hidden;
  height: 100%;
  width: 213px;
  position: fixed;
  background-color: $color-dark-gray;
}
