@import '@/assets/scss/variables.scss';

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 396px;
  margin: 0px auto;
  padding: 35px 20px 20px 20px;
  background: $color-white;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.modal-heading {
  text-align: center;
  margin-bottom: 35px;
}
.modal-close {
  margin: -20px -10px -10px 0px;
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form-modal-info {
  &__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $color-black;
  }
  &__text {
    font-style: normal;
    font-weight: normal;
    @include font-size(14px);
    line-height: 30px;
  }
  &__textp {
    font-style: normal;
    font-weight: normal;
    @include font-size(16px);
    line-height: 19px;
    margin-bottom: 10px;
  }
  &__textarea {
    border: 1px solid #312829 !important;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
}
.btn-add-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 189px;
  height: 260px;
  border: 1px dashed $color-dark-gray;
  box-sizing: border-box;
  &__img {
  }
}
.btn-add-img-modal {
  width: 188px;
  height: 220px;
  background-color: rgba(49, 40, 41, 0.3);
  background-image: url('../assets/img/download-img.png');
  background-size: 78px 78px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.add-img {
  display: flex;
  align-items: center;
  width: 189px;
  height: 260px;
  margin: 10px;
  &__block {
    display: flex;
    flex-wrap: wrap;
    // gap: 20px;
    margin: -10px;
  }
}

.file-input {
  display: none;
}
.image-input {
  display: block;
  width: 188px;
  height: 220px;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}
