@import '@/assets/scss/variables.scss';
.ourtrainer {
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 337px;
    background-color: $color-white;
    color: $color-dark-gray;
    font-style: normal;
    font-weight: normal;
    padding: 20px 40px 40px 20px;
  }
  &__block-min {
    width: 146px;
  }
  &__img {
    margin-bottom: 5px;
  }
  &__heading {
    @include font-size(16px);
    line-height: 19px;
    margin-bottom: 10px;
  }
  &__heading-name {
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
  }
  &__trainings-numb {
    padding-left: 5px;
    line-height: 19px;
  }
  &__body {
    line-height: 14px;
    margin-bottom: 30px;
  }
  &__tags {
    line-height: 14px;
    margin-bottom: 5px;
  }
}
