@import '@/assets/scss/btn.scss';
.page {
  &__block {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 45px;
  }
  &__heading {
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: $color-white;
    margin-bottom: 50px;
  }
  &__heading-min {
    font-style: normal;
    font-weight: 500;
    color: $color-white;
    margin-bottom: 20px;
  }
  &__wrapper {
    width: 560px;
    display: grid;
    grid-template-columns: 125px 188px 104px;
    grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px auto auto;
    row-gap: 25px;
    column-gap: 50px;
    justify-items: start;
    align-items: center;
    padding: 0 124px;
  }
  &__link {
    font-style: normal;
    font-weight: normal;
    @include font-size(16px);
    line-height: 19px;
    text-decoration: underline;
  }
}
textarea {
  overflow: auto;
  resize: none;
}
