@import '@/assets/scss/btn.scss';
.page {
  &__block {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 45px;
    background-color: $color-blue;
  }
  &__block-lr {
    padding-right: 20px;
    padding-left: 20px;
    background-color: $color-blue;
  }

  &__heading {
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: $color-white;
    margin-bottom: 50px;
  }
  &__heading-min {
    font-style: normal;
    font-weight: 500;
    color: $color-white;
    margin-bottom: 20px;
  }
  &__wrapper {
    width: 605px;
    display: grid;
    grid-template-columns: 188px 293px 110px;
    grid-template-rows: auto;
    row-gap: 45px;
    column-gap: 20px;
    justify-items: start;
    align-items: center;
    padding: 0 105px;
    padding-bottom: 45px;
  }
  &__link {
    font-style: normal;
    font-weight: normal;
    @include font-size(16px);
    line-height: 19px;
    text-decoration: underline;
  }
  &__input {
    font-style: normal;
    font-weight: normal;
    color: rgb(219, 76, 26 /0.4);
    background: $color-white;
    letter-spacing: 0.05em;
    padding: 5px;
    border: 2px solid $color-white;
    outline: none;
    &::placeholder {
      color: rgba(219, 76, 26, 0.4);
    }
    &:hover,
    &:focus {
      border: 2px solid #db3d1a;
      box-sizing: border-box;
    }
  }
  &__labelcheck {
    padding-left: 103px;
    max-width: 209px;
  }
}
textarea {
  overflow: auto;
  resize: none;
  width: 293px;
  &:hover,
  &:focus {
    border: 2px solid #db3d1a;
    box-sizing: border-box;
  }
}

.setting {
  &__err {
    color: $color-orange;
  }
}
