// @import '../../node_modules/bootstrap/scss/bootstrap';
@import '@/assets/scss/variables.scss';
@import '@/assets/scss/btn.scss';

.singup-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 164px;
  padding-top: 37px;
  background-color: $color-blue;
  background-image: url('../assets/img/signupbg.png');
  background-size: cover;
  // background-size: 100% auto;
  //background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}
.singin-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 164px;
  padding-top: 40px;
  background-color: $color-blue;
  background-image: url('../assets/img/signinbg.png');
  background-size: cover;
  // background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
}
.singin {
  margin-bottom: 126px; //пересмотреть на мобилке
  width: 521px;
  &__linkback {
    position: relative;
    line-height: 23px;
    cursor: pointer;
    text-decoration: underline;
    color: $color-dark-gray;
    &:hover,
    &:focus {
      color: $color-dark-gray;
      opacity: 0.5;
    }
  }
  &__logo {
    margin-bottom: 25px;
  }
  &__heading {
    line-height: 47px;
    color: $color-orange;
    margin-bottom: 40px;
  }
  &__input {
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    box-sizing: border-box;
    color: rgb(219, 76, 26 /0.4);
    background: $color-white;
    letter-spacing: 0.05em;
    padding: 20px 25px;
    margin-bottom: 35px;
    border: 2px solid $color-white;
    outline: none;
    &::placeholder {
      color: rgba(219, 76, 26, 0.4);
    }
    &:hover,
    &:focus {
      border: 2px solid #db3d1a;
      box-sizing: border-box;
    }
  }
  &__input-pass-block {
    position: relative;
  }

  &__input-pass {
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    width: 320px;
    color: rgb(219, 76, 26 /0.4);
    background: $color-white;
    letter-spacing: 0.05em;
    padding: 20px 25px;
    margin-bottom: 35px;
    border: 2px solid $color-white;
    outline: none;
    &::placeholder {
      color: rgba(219, 76, 26, 0.4);
    }
    &:hover,
    &:focus {
      border: 2px solid #db3d1a;
      box-sizing: border-box;
      width: 373px;
    }
  }
  &__showpass {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
  &__input-passbtn {
    position: absolute;
    right: 20px;
    top: 25px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  &__icon {
    color: $color-light-gray;
  }
  &__err {
    font-size: 18px;
    line-height: 22px;
    color: $color-orange;
  }
  &__block-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__link {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    line-height: 16px;
  }
  &__link_color-white {
    color: $color-white;
    &:hover,
    &:focus {
      color: $color-light-gray;
    }
  }
  &__link_color-orange {
    color: $color-orange;
    &:hover,
    &:focus {
      color: $color-dark-orange;
    }
  }
}

.singup {
  display: flex;
  flex-direction: column;
  width: 397px;
  background-color: $color-dark-gray;
  padding: 50px 74px;
  &__modal {
    margin-right: 0px;
  }
  &__linkback {
    position: relative;
    line-height: 23px;
    cursor: pointer;
    text-decoration: underline;
    color: $color-dark-gray;
    &:hover,
    &:focus {
      color: $color-dark-gray;
      opacity: 0.5;
    }
  }
  &__heading {
    line-height: 47px;
    color: $color-orange;
    margin-bottom: 40px;
  }
  &__input {
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    max-width: 397px;
    color: rgb(219, 76, 26 /0.4);
    background: $color-white;
    letter-spacing: 0.05em;
    padding: 20px 25px;
    margin-bottom: 35px;
    border: 2px solid $color-white;
    outline: none;
    &::placeholder {
      color: rgba(219, 76, 26, 0.4);
    }
    &:hover,
    &:focus {
      border: 2px solid #db3d1a;
      box-sizing: border-box;
    }
  }
  &__err {
    font-size: 18px;
    line-height: 22px;
    color: $color-orange;
  }
  &__block-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__link {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    line-height: 16px;
  }
  &__link_color-white {
    color: $color-white;
    &:hover,
    &:focus {
      color: $color-light-gray;
    }
  }
  &__link_color-orange {
    color: $color-orange;
    &:hover,
    &:focus {
      color: $color-dark-orange;
    }
  }
}
.radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.radio-buttons-role__input:checked,
.radio-buttons-role__input:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio-buttons-role__input:checked + .radio-buttons-role__label,
.radio-buttons-role__input:not(:checked) + .radio-buttons-role__label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
}
.radio-buttons-role__input:checked + .radio-buttons-role__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px; //------
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  background: $color-white;
}
.radio-buttons-role__input:not(:checked) + .radio-buttons-role__label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px; //------
  width: 26px;
  height: 26px;
  background: $color-white;
  box-sizing: border-box;
}
.radio-buttons-role__input:checked + .radio-buttons-role__label:after {
  position: absolute;
  top: 13px; //------
  left: 3px;
  content: '';
  width: 20px;
  height: 18px;
  background: url('../assets/img/checked.svg') center no-repeat;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio-buttons-role__input:not(:checked) + .radio-buttons-role__label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 20px;
  height: 18px;
  background: url('../assets/img/checked.svg') center no-repeat;
}
.radio-buttons-role__input:checked + .radio-buttons-role__label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.radio-buttons-role__label {
  color: $color-white !important;
  max-width: 153px;
}

//--------------------------------------

.check {
  padding-left: 40px;

  &__input {
    position: absolute;
    width: 1px; /*firefox*/
    height: 1px; /*firefox*/
    overflow: hidden; /*firefox*/
    clip: rect(0 0 0 0); /*firefox*/
  }

  &__box {
    position: absolute;
    margin-top: 20px;
    margin-left: -40px;
    width: 20px;
    height: 20px;
    background-color: $color-white;
    //fill: $color-white;
    border: 1px solid $color-white;
    box-sizing: border-box;
  }
  &__box-training {
    position: absolute;
    margin-top: 0px;
    margin-left: -65px;
    width: 20px;
    height: 20px;
    background-color: $color-white;
    //fill: $color-white;
    border: 1px solid $color-white;
    box-sizing: border-box;
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-bottom: 30px;
  }

  &__text-body {
    color: $color-white;
  }
  &__text-body_color_gray {
    font-style: normal;
    font-weight: 500;
    @include font-size(16px);
    line-height: 19px;
    color: $color-dark-gray;
    width: 188px;
    margin-right: 104px;
  }
  &__text-body-link {
    color: $color-blue;
    cursor: pointer;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $color-dark-blue;
    }
  }
  &__input:checked + &__box-training {
    fill: $color-white;
    background: url('../assets/img/checked.svg') center no-repeat;
    background-color: $color-white;
    //fill: $color-white;
    border: 1px solid $color-white;
  }
  &__input:checked + &__box {
    fill: $color-white;
    background: url('../assets/img/checked.svg') center no-repeat;
    background-color: $color-white;
    //fill: $color-white;
    border: 1px solid $color-white;
  }
}
