@import '@/assets/scss/variables.scss';

.body-block {
}
.right-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // height: 100%;
  padding-top: 50px;
  padding-right: 25px;
  padding-left: 42px;
  width: 146px;
  background-color: $color-dark-gray;
  color: $color-white;
  font-style: normal;
  font-weight: normal;
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 31px;
  }
  &__menu-item {
    cursor: pointer;
    width: 40px;
    margin-bottom: 9px;
    list-style-type: none;
    color: $color-white;
  }
  &__img {
    margin-right: 5px;
  }
  &__about {
    // padding-left: 17px;
    align-self: center;
    color: $color-white;
  }
  &__avatar {
    margin-bottom: 10px;
  }
  &__first-name {
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
  }
  &__heading {
    @include font-size(16px);
    margin-bottom: 10px;
  }
  &__body {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}
